In [1]:
import pandas as pd
Data_clean=pd.read_csv(r"\Users\lenovo\OneDrive\Desktop\My Project 2\choco.csv")
Data_clean

,brand,product_code,product_name,energy-kcal_value,energy-kj_value,carbohydrates_value,sugars_value,fat_value,saturated-fat_value,proteins_value,fiber_value,salt_value,sodium_value,nova-group,nutrition-score-fr,fruits-vegetables-nuts-estimate-from-ingredients_100g,sugar_to_carb_ratio,calorie_category,sugar_category,is_ultra_processed
0,Sidi Ali,6111035000430,Sidi Ali,168.00,702.91,42.00,14.00,0.00,0.00,0.00,0.00,0.00,0.00,4.0,1.0,0.0,0.33,Medium,Medium,True
1,Jaouda,6111242100992,Perly,102.36,428.27,9.40,3.32,3.00,0.80,8.00,2.88,44.65,17.86,3.0,5.2,0.0,0.35,Medium,Low,False
2,sidi ali,6111035002175,Sidi Ali,142.92,597.98,14.95,2.26,6.24,0.40,5.84,1.80,65.00,26.00,2.2,0.0,0.0,0.15,Medium,Low,False
3,"Les Eaux Minérales d'oulmès,Sidi Ali",6111035000058,Eau minérale naturelle,107.28,448.86,15.54,2.10,2.28,0.18,4.80,2.70,65.00,26.00,1.0,0.0,0.0,0.14,Medium,Low,False
4,AQUAFINA,6111252421568,اكوافينا,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.00,3.2,0.0,0.0,0.00,Low,Low,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12034,Carrefour,3245412694455,4 Muffins Nature,227.60,952.28,43.00,2.90,1.20,0.20,10.00,2.40,0.68,0.27,4.0,1.0,0.0,0.07,Medium,Low,True
12035,Bjorg,3229820789910,Amande Noisette,34.80,145.60,5.70,4.80,1.00,0.10,0.50,0.50,0.14,0.06,3.0,5.0,0.0,0.84,Low,Low,False
12036,"Paquito, Sélection Intermarché",3250390769811,100% pur jus orange sans pulpe,45.10,188.70,9.20,8.20,0.50,0.10,0.70,0.50,0.01,0.00,1.0,4.0,100.0,0.89,Low,Medium,False
12037,Carrefour,3560070581870,Crunchy,435.00,1820.04,57.00,5.00,15.00,2.90,11.00,14.00,0.10,0.04,4.0,-1.0,0.0,0.09,High,Low,True
12038,"Marque Repère, Épi d'Or",3564700562802,Brioche tranchée,341.80,1430.09,51.00,13.00,11.00,3.80,8.60,2.20,0.82,0.33,4.0,14.0,0.0,0.25,High,Medium,True

In [2]:
import sqlite3
conn=sqlite3.connect("SChoco.db")
product_info=Data_clean[['product_code','product_name','brand']]
nutrient_info=Data_clean[['product_code','energy-kcal_value','energy-kj_value','carbohydrates_value','sugars_value','fat_value','saturated-fat_value','proteins_value','fiber_value','salt_value','sodium_value','nova-group','nutrition-score-fr','fruits-vegetables-nuts-estimate-from-ingredients_100g']]
derived_metrics=Data_clean[['product_code','sugar_to_carb_ratio','calorie_category','sugar_category','is_ultra_processed']]
product_info.to_sql(
    name='product_info',
    con=conn,
    if_exists='replace',
    index=False
)

# Insert data into nutrient_info using to_sql
nutrient_info.to_sql(
    name='nutrient_info',
    con=conn,
    if_exists='replace',
    index=False
)
# Insert data into derived_metrics using to_sql
derived_metrics.to_sql(
    name='derived_metrics',
    con=conn,
    if_exists='replace',
    index=False
)

conn.commit()
T1 = pd.read_sql_query('SELECT *FROM product_info', conn)
T2 = pd.read_sql_query('SELECT *FROM nutrient_info', conn)
T3 = pd.read_sql_query('SELECT *FROM derived_metrics', conn)

In [3]:
pd.DataFrame(T1).head()

    product_code            product_name                                 brand
0  6111035000430                Sidi Ali                              Sidi Ali
1  6111242100992                   Perly                                Jaouda
2  6111035002175                Sidi Ali                              sidi ali
3  6111035000058  Eau minérale naturelle  Les Eaux Minérales d'oulmès,Sidi Ali
4  6111252421568                اكوافينا                              AQUAFINA

In [4]:
pd.DataFrame(T2).head()

,product_code,energy-kcal_value,energy-kj_value,carbohydrates_value,sugars_value,fat_value,saturated-fat_value,proteins_value,fiber_value,salt_value,sodium_value,nova-group,nutrition-score-fr,fruits-vegetables-nuts-estimate-from-ingredients_100g
0,6111035000430,168.00,702.91,42.00,14.00,0.00,0.00,0.00,0.00,0.00,0.00,4.0,1.0,0.0
1,6111242100992,102.36,428.27,9.40,3.32,3.00,0.80,8.00,2.88,44.65,17.86,3.0,5.2,0.0
2,6111035002175,142.92,597.98,14.95,2.26,6.24,0.40,5.84,1.80,65.00,26.00,2.2,0.0,0.0
3,6111035000058,107.28,448.86,15.54,2.10,2.28,0.18,4.80,2.70,65.00,26.00,1.0,0.0,0.0
4,6111252421568,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.00,3.2,0.0,0.0

In [138]:
pd.DataFrame(T3).head()

,product_code,sugar_to_carb_ratio,calorie_category,sugar_category,is_ultra_processed
0,6111035000430,0.33,Medium,Medium,1
1,6111242100992,0.35,Medium,Low,0
2,6111035002175,0.15,Medium,Low,0
3,6111035000058,0.14,Medium,Low,0
4,6111252421568,0.00,Low,Low,0

## SQL Queries

In [130]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('SChoco.db')

# ---------- product_info Queries ----------

# 1. Count products per brand
q1 = pd.read_sql_query("SELECT brand, COUNT(*) AS product_count FROM product_info GROUP BY brand ORDER BY product_count DESC;", conn)

# 2. Count unique products per brand
q2 = pd.read_sql_query("SELECT brand, COUNT(DISTINCT product_name) AS unique_products FROM product_info GROUP BY brand ORDER BY unique_products DESC;", conn)

# 3. Top 5 brands by product count
q3 = pd.read_sql_query("SELECT brand, COUNT(*) AS product_count FROM product_info GROUP BY brand ORDER BY product_count DESC LIMIT 5;", conn)

# 4. Products with missing product name
q4 = pd.read_sql_query("SELECT * FROM product_info WHERE product_name IS NULL OR TRIM(product_name) = '';", conn)

# 5. Number of unique brands
q5 = pd.read_sql_query("SELECT COUNT(DISTINCT brand) AS unique_brand_count FROM product_info;", conn)

# 6. Products with code starting with '3'
q6 = pd.read_sql_query("SELECT * FROM product_info WHERE product_code LIKE '3%';", conn)

# ---------- nutrient_info Queries ----------

# 7. Top 10 products with highest energy-kcal_value
q7 = pd.read_sql_query('SELECT product_code, "energy-kcal_value" FROM nutrient_info ORDER BY "energy-kcal_value" DESC LIMIT 10;', conn)

# 8. Average sugars_value per nova-group
q8 = pd.read_sql_query('SELECT "nova-group", AVG(sugars_value) AS avg_sugars FROM nutrient_info GROUP BY "nova-group";', conn)

# 9. Count products with fat_value > 20g
q9 = pd.read_sql_query("SELECT COUNT(*) AS high_fat_products FROM nutrient_info WHERE fat_value > 20;", conn)

# 10. Average carbohydrates_value per product
q10 = pd.read_sql_query("SELECT AVG(carbohydrates_value) AS avg_carbohydrates FROM nutrient_info;", conn)

# 11. Products with sodium_value > 1g
q11 = pd.read_sql_query("SELECT * FROM nutrient_info WHERE sodium_value > 1;", conn)

# 12. Count products with non-zero fruits-vegetables-nuts content
q12 = pd.read_sql_query('SELECT COUNT(*) AS products_with_fvn FROM nutrient_info WHERE "fruits-vegetables-nuts-estimate-from-ingredients_100g" > 0;', conn)

# 13. Products with energy-kcal_value > 500
q13 = pd.read_sql_query('SELECT * FROM nutrient_info WHERE "energy-kcal_value" > 500;', conn)

# ---------- derived_metrics Queries ----------

# 14. Count products per calorie_category
q14 = pd.read_sql_query('SELECT calorie_category, COUNT(*) AS product_count FROM derived_metrics GROUP BY calorie_category;', conn)

# 15. Count of High Sugar products
q15 = pd.read_sql_query("SELECT COUNT(*) AS high_sugar_count FROM derived_metrics WHERE sugar_category = 'High Sugar';", conn)

# 16. Average sugar_to_carb_ratio for High Calorie products
q16 = pd.read_sql_query("SELECT AVG(sugar_to_carb_ratio) AS avg_ratio FROM derived_metrics WHERE calorie_category = 'High Calorie';", conn)

# 17. Products that are both High Calorie and High Sugar
q17 = pd.read_sql_query("SELECT * FROM derived_metrics WHERE calorie_category = 'High Calorie' AND sugar_category = 'High Sugar';", conn)

# 18. Number of products marked as ultra-processed
q18 = pd.read_sql_query("SELECT COUNT(*) AS ultra_processed_count FROM derived_metrics WHERE is_ultra_processed = 1;", conn)

# 19. Products with sugar_to_carb_ratio > 0.7
q19 = pd.read_sql_query("SELECT * FROM derived_metrics WHERE sugar_to_carb_ratio > 0.7;", conn)

# 20. Average sugar_to_carb_ratio per calorie_category
q20 = pd.read_sql_query("SELECT calorie_category, AVG(sugar_to_carb_ratio) AS avg_ratio FROM derived_metrics GROUP BY calorie_category;", conn)

# ---------- Join Queries ----------

# 21. Top 5 brands with most High Calorie products
q21 = pd.read_sql_query('''
    SELECT pi.brand, COUNT(*) AS high_calorie_count
    FROM derived_metrics dm
    JOIN product_info pi ON dm.product_code = pi.product_code
    WHERE dm.calorie_category = 'High Calorie'
    GROUP BY pi.brand
    ORDER BY high_calorie_count DESC
    LIMIT 5;
''', conn)

# 22. Average energy-kcal_value for each calorie_category
q22 = pd.read_sql_query('''
    SELECT dm.calorie_category, AVG(ni."energy-kcal_value") AS avg_energy_kcal
    FROM derived_metrics dm
    JOIN nutrient_info ni ON dm.product_code = ni.product_code
    GROUP BY dm.calorie_category;
''', conn)

# 23. Count of ultra-processed products per brand
q23 = pd.read_sql_query('''
    SELECT pi.brand, COUNT(*) AS ultra_processed_count
    FROM derived_metrics dm
    JOIN product_info pi ON dm.product_code = pi.product_code
    WHERE dm.is_ultra_processed = 1
    GROUP BY pi.brand
    ORDER BY ultra_processed_count DESC;
''', conn)

# 24. Products with High Sugar and High Calorie along with brand
q24 = pd.read_sql_query('''
    SELECT pi.product_name, pi.brand
    FROM derived_metrics dm
    JOIN product_info pi ON dm.product_code = pi.product_code
    WHERE dm.calorie_category = 'High Calorie' AND dm.sugar_category = 'High Sugar';
''', conn)

# 25. Average sugar content per brand for ultra-processed products
q25 = pd.read_sql_query('''
    SELECT pi.brand, AVG(ni.sugars_value) AS avg_sugars
    FROM derived_metrics dm
    JOIN product_info pi ON dm.product_code = pi.product_code
    JOIN nutrient_info ni ON dm.product_code = ni.product_code
    WHERE dm.is_ultra_processed = 1
    GROUP BY pi.brand
    ORDER BY avg_sugars DESC;
''', conn)

# 26. Number of products with fruits/vegetables/nuts content in each calorie_category
q26 = pd.read_sql_query('''
    SELECT dm.calorie_category, COUNT(*) AS product_count
    FROM derived_metrics dm
    JOIN nutrient_info ni ON dm.product_code = ni.product_code
    WHERE ni."fruits-vegetables-nuts-estimate-from-ingredients_100g" > 0
    GROUP BY dm.calorie_category;
''', conn)

# 27. Top 5 products by sugar_to_carb_ratio with their calorie and sugar category
q27 = pd.read_sql_query('''
    SELECT product_code, sugar_to_carb_ratio, calorie_category, sugar_category
    FROM derived_metrics
    ORDER BY sugar_to_carb_ratio DESC
    LIMIT 5;
''', conn)

# Example: print one result
pd.DataFrame(q1).head()# You can change q1 to q2, q3, ... q27 to see others

# Close connection when done
#conn.close()

           brand  product_count
0  Unknown Brand            675
1      Hacendado            349
2          Tesco            270
3      Carrefour            146
4          Bjorg             97